body {
  background-color: bisque;
}

.main-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#form-area {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.btn {
  width: 70px;
}

h1 {
  margin-left: 90px;
}

table {
  border: 2px solid black;
  border-radius: 8px;
  width: 200%;
  overflow-y: scroll;
  height: 20px;
}

tr:nth-child(even) {
  background-color: red;
}

tr:hover {
  background-color: black;
  color: white;
}

td {
  padding: 2px;
}

p {
  font-weight: bolder;
  font-size: larger;
}

th {
  background-color: black;
  color: white;
}

.alert {
  background-color: red;
  border-radius: 5px;
}
